@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Noto+Sans&display=swap');

:root {
    --text: #dddddd;
    --background: #333;
    --blog-font: 'Noto Sans', sans-serif;
}
/* serif: Merriweather */
/* sans-serif: Poppins, */

body {
    background-color: var(--background);
    color: var(--text);
    font-family: var(--blog-font);
}